.head{
    border: 3px solid rgb(0, 0, 0);
}

h1{
    color: rgb(42, 0, 230);
}

.profesion{
    color: rgb(0, 153, 255);
    padding-top: 15px;
    font-size: 40px;
}

.dotted{
    border-top: 25px dotted rgb(25, 151, 0);
}

p{
    padding-top: 5px;
    font-size: 20px;
}

h2{
    font-style: italic;
    font-size: 35px;
}

ul{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(218, 255, 7);
}

a:hover{
    text-decoration: none;
}